* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace, 'Playfair Display', serif;
    color: var(--mainthemegray);
    scroll-behavior: smooth;
    scroll-margin-top: 74px;
    scroll-snap-margin-top: 74px;
}
html, body {
    overflow-x: hidden;
}
.landing-animation {
    opacity: 0;
    transition: opacity 3s ease;
}
.landing-active {
    opacity: 1;
    transition-delay: 0.7s;
}
:root {
    --mainthemegray: #403838;
    --txtshadow: #d2cdd0;
    --accentgreen: #bbd0a9;
    --btnshadow: #93948f;
    background-color: #ffffff;
}
.scroll-control {
    padding-top: 74px;
    margin-top: -74px;
}
/* HEADER */
.navbar {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(249, 247, 245, 0.9)));
    background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(249, 247, 245, 0.9));
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(249, 247, 245, 0.9));
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}
#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
.logo {
    width: 70%;
    height: 70%;
    margin: auto;
}
.logo a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo > a > img {
    width: 100%;
    margin: auto 0;
}
.navbar__item {
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    height: 80px;
    margin-left: 8px;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__links::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 15px;
    left: 0;
    background: var(--mainthemegray);
    border-radius: 2px;
    transition: transform 0.2s linear;
    transform: scaleX(0);
    transform-origin: bottom left;
}
.navbar__links:hover:after {
    transform-origin: bottom left;
    transform: scale(1);
    transition-duration: 0.3s;
}
.navbar__links {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 100;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    height: 100%;
    color: var(--mainthemegray);
    transition: transform 0.2s;
}

/* JS CLASSLIST CURRENT MENU */

.current-menu {
    text-shadow: 0px 0px 3px #695c5c;
    font-weight: 800;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* MAIN */
.container {
    height: 100vh;
    min-height: 700px;
}
.mainwrapper {
    display: flex;
    margin: 0;
    height: 100%;
}
.head-content {
    font-family: 'Bodoni Moda', serif;
    letter-spacing: -0.2rem;
    font-weight: 900;
    font-size: 3.875rem;
    color: var(--mainthemegray);
    animation: shadowmoves 12s infinite;
}

@keyframes shadowmoves {
    0% {
        text-shadow: 0px 0px var(--txtshadow);
    }10% {
        text-shadow: 10px 10px var(--txtshadow);
    }
    40% {
        text-shadow: 10px 10px var(--txtshadow);
    }
    50% {
        text-shadow: 0px 0px var(--txtshadow);
    } 60% {
        text-shadow: -10px 10px var(--txtshadow);
    } 90% {
        text-shadow: -10px 10px var(--txtshadow);
    }
    100% {
        text-shadow: 0px 0px var(--txtshadow);
    }

}

.contents {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4.1666vw;
    padding-top: 5.14vw;
    width: 420px;
    height: fit-content;
    z-index: 2;
}
.contents p {
    margin-top: 30px;
    width: 560px;
    color: #3e3d3e;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 100;
    z-index: 3;
}
#la {
    font-style: italic;
    font-size: 1.25rem;
    font-weight: 100;
    text-shadow: 4px 4px 2px #7e7c7c;
}
.arrowdown__link {
    height: 100%;
    width: 100%;
}
.arrowdown__div {
    margin: 2vw auto auto auto;
    width: 4rem;
    height: 8rem;
}
.arrowdown {
    display: block;
    height: 6rem;
    margin: auto;
    animation: arrowmotion 2s infinite;
}

@keyframes arrowmotion {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(25px);
    } 0% {
        transform: translateY(0px);
    } 50% {
        transform: translateY(25px);
    } 100% {
        transform: translateY(0px);
    }
}
.img-container {
    margin-top: 74px;
    position: relative;
    width: 100%;
}

.main-img {
    min-width: 750px;
    position: absolute;
    top: 60px;
    left: 90px;
    right: -50px;
}

.imgs {
    width: 90%;
}

.img-stack {
    position: absolute;
    top: 60px;
    left: 90px;
    right: -50px;
    min-width: 750px;
}

.img-trans-main {
    transition: transform 3s ease-out;
    transform:translateX(-30px) rotate(12deg);
}

.img-trans-stack {
    transition: transform 3s ease-out;
    transform:translateX(-30px) rotate(-3deg);
}


/* ABOUT */
.aboutcontainer {
    position: relative;
    display: flexbox;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}
.aboutwrapper {
    margin: 25.974vh auto;
}
.greet {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 50px;
    color: var(--mainthemegray);
    width: 0;
    border-right: 0.277vw solid black;
    white-space: nowrap;
    overflow: hidden;
}
#greetbox {
    position: relative;
    width: 480px;
    margin: 0 auto;
    display: block;
    height: 65px;
}
.animation {
    -webkit-animation: typewriter 10s steps(8) infinite both, blinkCursor 500ms steps(15) infinite;
            animation: typewriter 10s steps(8) infinite both, blinkCursor 500ms steps(15) infinite;
}
@-webkit-keyframes typewriter {
    from {
        width: 0;
    }
    to {
        /* width: 33.333vw; */
        width: 480px;
    }
    0% {
        width: 0;
    }
    25% {
        /* width: 16.66vw; */
        width: 240px;
    }
    50% {
        /* width: 33.333vw; */
        width: 480px;
    }
    100% {
        /* width: 33.333vw; */
        width: 480px;
    }
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        /* width: 33.333vw; */
        width: 480px;
    }
    0% {
        width: 0;
    }
    25% {
        /* width: 16.66vw; */
        width: 240px;
    }
    50% {
        /* width: 33.333vw; */
        width: 480px;
    }
    100% {
        /* width: 33.333vw; */
        width: 480px;
    }
}
@-webkit-keyframes blinkCursor {
    from {
        border-right-color: var(--mainthemegray);
    }
    to {
        border-right-color: transparent;
    }
}
@keyframes blinkCursor {
    from {
        border-right-color: var(--mainthemegray);
    }
    to {
        border-right-color: transparent;
    }
} 
.profpic {
    height: 200px;
    display: block;
    margin: 42px auto;
}
.profpic img {
    height: 100%;
}
.dscrptn {
    margin: 0 auto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;
}
.dscriptn-animation {
    opacity: 0;
    transform: translateY(10px);
    transition: all 3s ease;
}
.dscrptn-active {
    opacity: 1;
    transform: none;
    transition-delay: 0.5s;
}


/* SERVICE */
.service-wrapper {
    height: 240px;
    width: 600px;
    align-items: center;
    margin: 25.974vh auto;
}
#workwith {
    margin: 42px auto;
    text-align: center;
    font-size: 1.875rem;
}
.slide-container {
    position: relative;
    margin: 60px auto;
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: 2600px;
    height: 100%;
}
.service-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}
.card {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(70% 30%);
    text-align: center;
    min-width: 100%;
    margin: 0 auto;
}
.service-txt p {
    text-align: center;
    margin: auto 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.service-icon i {
    align-items: center;
    color: var(--mainthemegray);
    text-align: center;
    margin: 0 auto;
}
.slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#next-btn, #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 1.875rem;
    border: none;
    padding: 10px;
}
#next-btn i, #prev-btn i {
    color: #474445;
    opacity: 35%;
}
#next-btn:focus, #prev-btn:focus {
    outline: none;
}

/* PROJECTS */
.projects__container {
    margin: 12.987vh auto 0 auto;
    padding: 12.987vh 0;
    background-color: #f5f6f1;
}
.projects__wrapper {
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}
#prj-heading {
    margin-bottom: 18px;
    text-align: center;
    font-size: 1.875rem;
}
.project-eh, .project-quote, .project-amazon, .project-tja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}
.project-eh, .project-quote {
    flex-direction: row-reverse;
}

.inner-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.inner-frame img {
    display: none;
}
.eh-inner-frame {
    background-image: url('./images/eh-1.png');
}

.eh-inner-frame:hover {
    background-image: url('./images/eh-2.png');
    transition: background-image 0.1s ease-out;
    transition-delay: 1s;
}

.quote-inner-frame {
    background-image: url('./images/quote-1.png');
}

.quote-inner-frame:hover {
    background-image: url('./images/quote-2.png');
    transition: background-image 0.1s ease-out;
    transition-delay: 1s;
}

.amazon-inner-frame {
    background-image: url('./images/mockup_desktop_blank.png');
    transition: background-image 0.1s ease-out;
    position: relative;
    z-index: 1;
}

.amazon-video-div {
    position: absolute;
    top: 11.7%;
    left: 16%;
    right: 16%;
    bottom: 13.6%;
}

.amazon-video, .video-div video {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.tja-inner-frame {
    background-image: url('./images/tja-1.png');
    
}
.tja-inner-frame:hover {
    background-image: url('./images/tja-2.png');
    transition: background-image 0.1s ease-out;
    transition-delay: 1s;
}

.pj-dscrptn {
    width: 50%;
}
.tja-dscrptn, .amazon-dscrptn {
    padding-right: 24px;
}
.eh-dscrptn, .quote-dscrptn {
    padding-left: 24px;
}

.pj-name {
    display: inline;
    background: linear-gradient(0deg, rgba(239,204,201,1) 40%, rgba(0,0,0,0) 40%);
}
.pj-dscrptn p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    
}
.pj-dscrptn h4, .pj-dscrptn p, .pj-dscrptn a, .pj-name {
    margin-top: 12px;
    margin-bottom: 12px;
}

.pj-btn a {
    text-decoration: none;
    margin-right: 12px;
    transition: all 0.3s ease;
}
.pj-btn a:hover {
    text-shadow: 0 0 2px var(--mainthemegray);
    font-weight: 500;
/*     transform: scale(1.5); */
}


.popup-img {
    position: fixed;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    width: 100%;
    display: none;
    height: 100vh;
    min-height: 700px;
}


.popup-img-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    background-color: #ffffff;
    margin: auto;
    max-width: 1133px;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    height: -webkit-fit-content;
    aspect-ratio: 5/3;
    cursor: pointer;
}
.popup-img-wrapper img {
    display: block;
    position: relative;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0;
    padding: 0;
}
.popup-img span {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
    
}
.popup-img span:hover {
    transform: scale(1.2);
}
.popup-img span i {
    color: rgba(198, 196, 196, 0.7);
}

.video-div {
    display: none;
    position: absolute;
    top: 11.7%;
    left: 16%;
    right: 16%;
    bottom: 13.6%;
}

.prj-animation {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 2s ease, opacity 2s ease;
}
.prj-animation-delay {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 2s ease, opacity 2s ease;
}
.pj-anime-active {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
}
.pj-anime-active-delay {
    opacity: 1;
    transform: none;
    transition-delay: 0.6s;
}

.prj-contents {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;   
}


.comingsoon {
    text-align: center;
    font-size: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 245px;
}
.comingsoon span:nth-child(1) {
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    
}
.comingsoon span:nth-child(2) {
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
}

.comingsoon span {
    white-space: nowrap;
}

.glitch1 {
    animation: glitch-1 3s infinite reverse;
}
.glitch2 {
    animation: glitch-2 2s infinite reverse;
}


@keyframes glitch-1 {
    0% {
    clip-path: inset(0% 0% 0% 0%);
    translate: none;
  }
  5% {
    clip-path: inset(50% 0% 0% 0%);
  }
  10% {
    clip-path: inset(100% 0% 0% 0%);
  }
  15% {
    transform: translateX(-0.2rem);
  }
  20% {
    clip-path: inset(0% 0% 100% 0%);
  }
  40% {
    transform: translateX(0.2rem);
  }
  45% {
    clip-path: inset(100% 0% 0% 0%);
  }
  48% {
    transform: none;
  }
  50% {
    clip-path: inset(50% 0% 0% 0%);
    transform: translateX(0.7rem) skew(5deg);
  }
  52% {
    transform: none;
  }
  55% {
    clip-path: inset(0% 0% 0% 0%);
  }
  60% {
    clip-path: inset(0% 0% 0% 0%);
  }
  65% {
    clip-path: inset(0% 0% 50% 0%);
  }
  80% {
    clip-path: inset(100% 0% 0% 0%);
  }
  85% {
    clip-path: inset(50% 0% 0% 0%);
  }
  90% {
    clip-path: inset(50% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    translate: translateX(0.3rem);
  }
}

@keyframes glitch-2 {
  0% {
    clip-path: inset(0% 0% 0% 0%);
  }
  5% {
    clip-path: inset(0% 0% 50% 0%);
  }
  20% {
    clip-path: inset(100% 0% 0% 0%);
  }
  25% {
    clip-path: inset(0% 0% 50% 0%);
  }
  30% {
    clip-path: inset(0% 0% 0% 0%);
    transform: translateX(-0.01rem);
  }
  35% {
    clip-path: inset(50% 0% 0% 0%);
  }
  48% {
    transform: none;
  }
  50% {
    clip-path: inset(0% 0% 50% 0%);
    transform: translateX(-0.03rem) skew(-10deg);
  }
  52% {
    transform: none;
  }
  55% {
    clip-path: inset(0% 0% 0% 0%);
  }
  60% {
    clip-path: inset(50% 0% 0% 0%);
  }
  80% {
    clip-path: inset(0% 0% 0% 0%);
  }
  85% {
    clip-path: inset(50% 0% 0% 0%);
  }
  95% {
    clip-path: inset(0% 0% 50% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}


/* CONTACT */
.contact__container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12.987vh auto 25.974vh;
}
.contact__wrapper {
    width: 100%;
}
.contactform {
    display: block;
    width: 100%;
}
.contactform__input {
    width: 100%;
    height: 40px;
    margin: 0 0 18px 0;
    padding: 8px;
    border-radius: 2px;
    border-color: var(--mainthemegray);
    border-width: 1px;
    resize: vertical;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 2px var(--txtshadow) !important;
            box-shadow: 2px 2px 2px var(--txtshadow) !important;
}
.form__name {
    display: flex;
    justify-content: center;
}
#first-name {
    margin-right: 3px;
}
#last-name {
    margin-left: 3px;
}
.message {
    height: 180px;
}
.contact__wrapper h2, p {
    margin-bottom: 18px;
}
.contact__wrapper h2 {
    font-size: 1.875rem;
}
.contact__wrapper p {
    font-weight: 100;
    font-size: 0.875rem;
    line-height: 1.625rem;
}
#submitbtn {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 140px;
    cursor: pointer;
    color: #fff;
    background-color: #efccc9;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 3px 3px #bbb9b7;
    position: relative;
    transform: translateY(-2px);
}
#submitbtn:active {
    transform: translateY(2px);
}
/* FOOTER */
footer {
    height: 180px;
    padding-top: 18px;
    /* background-color: #847a7a; */
    background-color: #b5aeae;
}
.footer__container {
    margin: 18px;
}
.footer__menu {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.footer__menu a {
    align-items: center;
    text-align: center;
    text-decoration: none;
    /* color: var(--mainthemegray); */
    color: #ffffff;
    font-weight: 100;
}
.footer__menu a:hover {
    /* text-shadow: 0px 0px 3px #695c5c; */
    text-shadow: 0px 0px 3px var(--txtshadow);
    font-weight: 800;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.social {
    margin: 24px auto;
    max-width: 240px;
}
.social ul {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.social ul > li {
display: inline-block;
list-style: none;
width: 25%;
}
.social i {
    font-size: 1.75rem;
    /* color: var(--mainthemegray); */
    color: #ffffff;
    /* margin: 12px; */
    margin: 0 auto;
    align-items: center;
}
.copy {
    margin: 12px auto;
}
.copy p {
    color: #ffffff;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}


/* THANK YOU PAGE */
.ty-container {
    max-width: 600px;
    margin: 80px auto 120px auto;
}
.ty-mainwrapper {
    color:var(--mainthemegray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 100%;
}
.ty-heading {
    margin: 24px auto;
    text-align: center;
    align-items: center;
}
.ty-p {
    margin: 18px auto;
    text-align: center;
    align-items: center;
}
#sent {
    display: flex;
    justify-content: center;
    font-size: 90px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
